<h1>You're invited to Language Bridge</h1>

<p><%= @invitation.inviter.email %> invited you to join Language Bridge as <strong><%= @invitation.role %></strong>.</p>

<p><%= link_to "Accept invitation", @url %></p>

<p>This link expires on <%= @invitation.expires_at.strftime("%B %d, %Y") %>.</p>
