<% content_for :title, "Language Bridge" %>

<section>
  <h1>Welcome, <%= current_user.email %></h1>
  <p>Role: <strong><%= current_user.role %></strong></p>

  <ul>
    <% if current_user.admin? %>
      <li><%= link_to "Manage invitations", invitations_path %></li>
    <% end %>
    <li><%= button_to "Sign out", sign_out_path, method: :delete %></li>
  </ul>
</section>
