<h1>Sign in to Language Bridge</h1>

<p>Click the link below to sign in. It expires in 15 minutes and can only be used once.</p>

<p><%= link_to "Sign in", @url %></p>

<p>If you didn't request this, ignore this email.</p>
